
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Lista de Enderecos</h1>
    <div>
        <form action="/endereco/index" method="get">
            <label for="campo-pesquisa">Pesquisar</label>
            <input id="campo-pesquisa" name="busca" type="text" />
        </form>
    </div>
    <a href="/endereco/cadastrar">Cadastrar novo Endereco</a>
    <table>
        <thead>
            <tr>
                <th>Código</th>
                <th>Unidade Federativa</th>
                <th>Cidade</th>
                <th>Logradouro</th>
                <th>CEP</th>
                <th>Número</th>
                <th>Complemento</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
           @for(int i = 0; i < ViewBag.ListaEnderecos.Count; i++)
           {
               <tr>
                   <td>@ViewBag.ListaEnderecos[i].Id</td>
                   <td>@ViewBag.ListaEnderecos[i].UnidadeFederativa</td>
                   <td>@ViewBag.ListaEnderecos[i].Cidade</td>
                   <td>@ViewBag.ListaEnderecos[i].Logradouro</td>
                   <td>@ViewBag.ListaEnderecos[i].CEP</td>
                   <td>@ViewBag.ListaEnderecos[i].Numero</td>
                   <td>@ViewBag.ListaEnderecos[i].Complemento</td>
                   <td>
                       <a href="/endereco/editar?id=@ViewBag.ListaEnderecos[i].Id">Editar</a>
                       <a href="/endereco/apagar?id=@ViewBag.ListaEnderecos[i].Id">Apagar</a>
                   </td>
               </tr>
           }
        </tbody>
    </table>
</body>
</html>
